<div class="mat-elevation-z8 container-fluid">
  <mat-toolbar color="primary">
    <span style="padding-left: 650px;">Games Scraping</span>
  </mat-toolbar>
  <div style="padding: 20px;">
    <label id="tool" >Search Filter:</label>
    <mat-form-field>
        <input id="span" matInput (keyup)="applyFilter($event.target.value)" placeholder="Enter the value to filter">
    </mat-form-field>
    <table mat-table [dataSource]="dataSource" matSort class="w-100 mat-elevation-z8">
      <!-- Position Column -->
      <ng-container class="text-center" matColumnDef="image">
        <th mat-header-cell *matHeaderCellDef> Image </th>
        <td mat-cell *matCellDef="let element"> <img src={{element.image}}></td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container class="text-center" matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.game}} </td>
      </ng-container>
  
      <!-- Date Column -->
      <ng-container class="text-center" matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> Release date </th>
        <td mat-cell *matCellDef="let element"> {{element.date}} </td>
      </ng-container>
  
      <!-- Price Column -->
      <ng-container class="text-center" matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef> Price </th>
        <td mat-cell *matCellDef="let element"> 
          Discount: {{element.discount}} <br>
          Original price: {{element.original}} <br>
          Final price: {{element.final}} <br>
            </td>
      </ng-container>
  
      <!-- Review Column -->
      <ng-container class="text-center" matColumnDef="review">
        <th mat-header-cell *matHeaderCellDef> Review </th>
        <td mat-cell *matCellDef="let element"> 
          <p>{{element.review}}</p> 
          <p>Metascore: <span ngClass="{ 'good' : element.metascore>80? , 'middle' : element.metascore > 50? , bad  : element.metascore < 50?}">
            {{element.metascore}}</span>
          </p>
        </td>
      </ng-container>
  
      <!-- Time Column -->
      <ng-container class="text-center" matColumnDef="time">
        <th mat-header-cell *matHeaderCellDef> Time </th>
        <td mat-cell *matCellDef="let element"> {{element.time}} </td>
      </ng-container>
  
      <!-- Stores Column -->
      <ng-container class="text-center" matColumnDef="store">
        <th mat-header-cell *matHeaderCellDef> Stores </th>
        <td mat-cell *matCellDef="let element">
          <a href="{{element.href}}" target="_blank" color="primary" mat-fab>Steam</a>
        </td>
      </ng-container>
  
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
  

</div>
